APP_ENV=dev
PORT=8080
DATABASE_URL=postgres://boibritto_user:ofmiceandmen@localhost:5073/boibritto?sslmode=disable
FIREBASE_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=./secrets/firebase-service-account.json
CORS_ALLOWED_ORIGINS=http://localhost:5000